---
import ImageComp from "../utils/ImageComp.astro";

const leftImage = '/src/assets/stock images/stock-hugo-k-b-09IUxUmCx7o-unsplash.jpg'; 
const middleImage = '/src/assets/transparent4.png'; 
const rightBgImage = '/src/assets/student using simulator 2.jpg';

const { content } = Astro.props;
---

<section class="relative w-full flex h-[500px] md:rounded-xl overflow-hidden max-w-5xl mx-auto md:mt-12">
  <!-- Left Image -->
  <div class="w-0 md:w-1/2">
    <ImageComp
      src={leftImage}
      alt="Left Image"
      classes="h-full w-full object-cover"
    />
    <!-- <img src={leftImage} alt="Left Image" class="h-full w-full object-cover"/> -->
  </div>

  <!-- Middle "3D" Image -->
  <!-- <div class="absolute left-1/2 top-1/4 -translate-x-1/2 -translate-y-1/2 z-20">
    <img src={middleImage} alt="Middle Image" class="h-[800px]"/>
  </div> -->

  <!-- Right Content -->
  <div 
    class="w-full md:w-1/2 ml-auto relative flex items-center justify-center p-10 text-white" 
    style={`background-image: url(/images/stock-arun-k-XYyWvaW4gys-unsplash.jpg); background-size: cover; background-position: center;`}
  >
    <div class="bg-neutral-800/60 absolute inset-0 w-full text-center flex flex-col justify-center items-center py-12 px-6 ">
      <p class="text-sm text-yellow-400 mb-2">{content.upperHeading}</p>
      <h2 class="text-2xl font-bold mb-4" set:html={content.title}></h2>
      <p class="mb-6">{content.description}</p>
      <a class="btn-primary" href="/enroll">
        Enroll Now →
      </a>
    </div>
  </div>
</section>
