---
import ImageComp from "../utils/ImageComp.astro";

const example = {
	image: {
		src: "/src/assets/student using simulator 2.jpg",
		alt: "Example Image",
	},
    title: "Ready to get started?",
    description:
        "Contact us today to discuss your project and discover how we can help you achieve your goals.",
    button: {
        text: "Contact Us",
        href: "/contact",
    },
};

const { content = example } = Astro.props;
---

<div class="py-12 sm:py-24">
    <div
        class="mx-auto flex max-w-xl flex-col px-4 py-12 lg:max-w-7xl lg:flex-row lg:px-12"
    >
        <div class="flex-1">
            <ImageComp
                src={content.image.src}
                alt={content.image.alt}
                classes="lg:rounded-l-lg object-cover h-full w-full rounded-t-lg lg:rounded-tr-none"
            />
        </div>
        <div class="bg-gray-900 flex-1 rounded-b-lg text-white lg:rounded-r-lg lg:rounded-bl-none">
			<div class="flex flex-col px-12 py-12 lg:py-20">
				<h2
					class="text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
				>
					{content.title}
				</h2>
				<p class="mt-6 text-lg/8 text-pretty text-gray-300">
					{content.description}
				</p>
				<div class="mt-10 flex">
					<a href={content.button.href} class="btn btn-main"> {content.button.text}</a>
				</div>
			</div>
        </div>
    </div>
</div>
